.top-banner {
    background: lavender;
    text-align: center;
    border: 0;
    margin: 0;
    padding: 0;
}

.top-banner img {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

.top-navigation {
    background: lavender;
}

.top-navigation ul {
    list-style: none;
    text-align: center;
    margin: 0;
    border: 0;
    padding-top: 10px;
    padding-bottom: 30px;
}

.top-navigation li {
    font-family: Georgia, serif;
    font-size: 1.2em;
    color: lavender;
    background: indigo;
    display: inline-block;
    border: 2px solid white;
    margin-left: .5%;
    margin-right: .5%;
    width: 15%;
    padding: 1em;
}

.top-navigation a {
    text-decoration: none;
    color: lavender;
}

.top-navigation a:hover {
    background: lavender;
    color: indigo;
}

.top-navigation a.active {
    border: 2px solid white;
    cursor: default;
}

.construction {
    text-align: center;
    background: lavender;
    margin: 0;
    border: 0;
}

.construction img {
    height: 50%;
    width: 50%;
}

.construction ul {
    margin: 0;
    border: 0;
}

.construction li {
    margin: 0;
    border: 0;
}

.reading-list {
    font-family: Georgia, serif;
    background: lavender;
    color: indigo;
    margin: 0;
    border: 0;
    padding: 0;
}

.reading-list ul {
    list-style: none;
    text-align: center;
    margin: 0;
    border: 0;
    padding: 0;
}

.reading-list li {
    font-family: Georgia, serif;
    color: indigo;
    font-size: 1.5em;
    display: inline-block;
    width: 30%;
    margin: 0;
    border: 0;
    padding-left: 2%;
    padding-right: 2%;
}

.reading-list img {
    width: 100%;
}

.smaller-reading-list {
    font-family: Georgia, serif;
    background: lavender;
    color: indigo;
    margin: 0;
    border: 0;
    padding: 0;
}

.smaller-reading-list ul {
    list-style: none;
    text-align: center;
    margin: 0;
    border: 0;
    padding: 0;
}

.smaller-reading-list li {
    font-family: Georgia, serif;
    color: indigo;
    display: inline-block;
    width: 30%;
    margin: 0;
    border: 0;
    padding-left: 2%;
    padding-right: 2%;
}

.smaller-reading-list img {
    width: 85%;
}

header {
    font-family: Georgia, serif;
    background: lavender;
    color: indigo;
    margin: 0;
    border: 0;
}

main {
    font-family: Georgia, serif;
    background: lavender;
    color: indigo;
    margin: 0;
    border: 0;
}

footer {
    font-family: Georgia, serif;
    background: lavender;
    color: indigo;
    margin: 0;
    border: 0;
}

footer ul {
    list-style: none;
    text-align: center;
    margin: 0;
    border: 0;
    padding-bottom: 10px;
    padding-top: 30px;
}

footer li {
    font-family: Georgia, serif;
    font-size: 1em;
    color: indigo;
    display: block;
    padding: 2px;
    border: 0;
}