.header {
    text-align: center;
}
.header img {
    width:90%;
}

.navigation {
    font: 1em Georgia, serif;
}

.navigation ul {
    list-style: none;
    text-align: center;
}

.navigation li {
    width: 15%;
    display: inline-block;
}

.quote {
    text-align: center;
    color: gray;
}



.footer {
    font-size: .5em;
}